* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
}

.btn-register {
  text-align: center;
  outline: none;
  border: none;
  background-color: #86b7fe;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid white;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
}
.btn-register:hover {
  background-color: white;
  border: 2px solid #86b7fe;
  color: #86b7fe;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* responsive start */
.container {
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* medium screen */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large screen */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* x-large screen */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* xx-large screen */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
